
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #202124;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* HEADER */
.topbar {
  padding: 14px 30px;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.apps {
  font-size: 20px;
  opacity: .8;
  cursor: pointer;
}

.avatar {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background: #d4a017;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* MAIN */
.hero {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -60px;
}

.logo {
  font-size: 92px;
  font-weight: 500;
  margin-bottom: 28px;
  letter-spacing: -4px;
}

.logo span:nth-child(1){color:#4285f4;}
.logo span:nth-child(2){color:#ea4335;}
.logo span:nth-child(3){color:#fbbc05;}
.logo span:nth-child(4){color:#4285f4;}
.logo span:nth-child(5){color:#34a853;}
.logo span:nth-child(6){color:#ea4335;}

.search-box {
  width: 560px;
  max-width: 90%;
  height: 46px;
  background: #4b4f54;
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding: 0 18px;
}

.search-box input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 16px;
  margin: 0 14px;
}

.right-icons {
  display: flex;
  gap: 12px;
}

.buttons {
  margin-top: 28px;
  display: flex;
  gap: 12px;
}

.buttons button {
  background: #303134;
  color: white;
  border: none;
  padding: 12px 18px;
  border-radius: 4px;
  cursor: pointer;
}

.buttons button:hover {
  border: 1px solid #5f6368;
}

.lang {
  margin-top: 35px;
  font-size: 14px;
}

.lang a {
  color: #8ab4f8;
  text-decoration: none;
}

/* FOOTER */
footer {
  background: #171717;
  color: #9aa0a6;
}

.country {
  padding: 15px 30px;
  border-bottom: 1px solid #303134;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  padding: 18px 30px;
  flex-wrap: wrap;
  gap: 20px;
}

.left-links,
.right-links {
  display: flex;
  gap: 30px;
}

footer a {
  color: #bdc1c6;
  text-decoration: none;
}
